@font-face
{
    font-family: "Athens18";
    src: url(../WOFF2/MacAthens-18.woff2)
}

@font-face
{
    font-family: "Chicago12";
    src: url(../WOFF2/MacChicago-12.woff2)
}

@font-face
{
    font-family: "Geneva09";
    src: url(../WOFF2/MacGeneva-09.woff2)
}

@font-face
{
    font-family: "Geneva10";
    src: url(../WOFF2/MacGeneva-10.woff2)
}

@font-face
{
    font-family: "Geneva12";
    src: url(../WOFF2/MacGeneva-12.woff2)
}

@font-face
{
    font-family: "Geneva14";
    src: url(../WOFF2/MacGeneva-14.woff2)
}

@font-face
{
    font-family: "Geneva18";
    src: url(../WOFF2/MacGeneva-18.woff2)
}

@font-face
{
    font-family: "Geneva24";
    src: url(../WOFF2/MacGeneva-24.woff2)
}

@font-face
{
    font-family: "London18";
    src: url(../WOFF2/MacLondon-18.woff2)
}

@font-face
{
    font-family: "LosAngeles12";
    src: url(../WOFF2/MacLosAngeles-12.woff2)
}

@font-face
{
    font-family: "LosAngeles24";
    src: url(../WOFF2/MacLosAngeles-24.woff2)
}

@font-face
{
    font-family: "Monaco09";
    src: url(../WOFF2/MacMonaco-09.woff2)
}

@font-face
{
    font-family: "Monaco12";
    src: url(../WOFF2/MacMonaco-12.woff2)
}

@font-face
{
    font-family: "NewYork09";
    src: url(../WOFF2/MacNewYork-09.woff2)
}

@font-face
{
    font-family: "NewYork10";
    src: url(../WOFF2/MacNewYork-10.woff2)
}

@font-face
{
    font-family: "NewYork12";
    src: url(../WOFF2/MacNewYork-12.woff2)
}

@font-face
{
    font-family: "NewYork14";
    src: url(../WOFF2/MacNewYork-14.woff2)
}

@font-face
{
    font-family: "NewYork18";
    src: url(../WOFF2/MacNewYork-18.woff2)
}

@font-face
{
    font-family: "NewYork24";
    src: url(../WOFF2/MacNewYork-24.woff2)
}

@font-face
{
    font-family: "NewYork36";
    src: url(../WOFF2/MacNewYork-36.woff2)
}

@font-face
{
    font-family: "SanFrancisco18";
    src: url(../WOFF2/MacSanFrancisco-18.woff2)
}

@font-face
{
    font-family: "Toronto09";
    src: url(../WOFF2/MacToronto-09.woff2)
}

@font-face
{
    font-family: "Toronto10";
    src: url(../WOFF2/MacToronto-10.woff2)
}

@font-face
{
    font-family: "Toronto12";
    src: url(../WOFF2/MacToronto-12.woff2)
}

@font-face
{
    font-family: "Toronto14";
    src: url(../WOFF2/MacToronto-14.woff2)
}

@font-face
{
    font-family: "Toronto18";
    src: url(../WOFF2/MacToronto-18.woff2)
}

@font-face
{
    font-family: "Toronto24";
    src: url(../WOFF2/MacToronto-24.woff2)
}

@font-face
{
    font-family: "Venice14";
    src: url(../WOFF2/MacVenice-14.woff2)
}

.athens18 {
	font-family: "Athens18";
	font-size: 36pt;
}

.chicago12 {
	font-family: "Chicago12";
	font-size: 24pt;
}

.geneva09 {
	font-family: "Geneva09";
	font-size: 18pt;
}

.geneva10  {
	font-family: "Geneva10";
	font-size: 20pt;
}

.geneva12  {
	font-family: "Geneva12";
	font-size: 24pt;
}

.geneva14 {
	font-family: "Geneva14";
	font-size: 28pt;
}

.geneva18 {
	font-family: "Geneva18";
	font-size: 36pt;
}

.geneva24 {
	font-family: "Geneva24";
	font-size: 48pt;
}

.london18 {
	font-family: "London18";
	font-size: 36pt;
}

.losangeles12 {
	font-family: "LosAngeles12";
	font-size: 24pt;
}

.losangeles24 {
	font-family: "LosAngeles24";
	font-size: 48pt;
}

.monaco09 {
	font-family: "Monaco09";
	font-size: 18pt;
}

.monaco12 {
	font-family: "Monaco12";
	font-size: 24pt;
}

.newyork09 {
	font-family: "NewYork09";
	font-size: 18pt;
}

.newyork10 {
	font-family: "NewYork10";
	font-size: 20pt;
}

.newyork12 {
	font-family: "NewYork12";
	font-size: 24pt;
}

.newyork14 {
	font-family: "NewYork14";
	font-size: 28pt;
}

.newyork18 {
	font-family: "NewYork18";
	font-size: 36pt;
}

.newyork24 {
	font-family: "NewYork24";
	font-size: 48pt;
}
.newyork36 {
	font-family: "NewYork36";
	font-size: 72pt;
}

.sanfrancisco18 {
	font-family: "SanFrancisco18";
	font-size: 36pt;
}

.toronto09 {
	font-family: "Toronto09";
	font-size: 18pt;
}

.toronto12 {
	font-family: "Toronto12";
	font-size: 24pt;
}

.toronto14 {
	font-family: "Toronto14";
	font-size: 28pt;
}


.toronto18 {
	font-family: "Toronto18";
	font-size: 36pt;
}


.toronto24 {
	font-family: "Toronto24";
	font-size: 48pt;
}


.venice14 {
	font-family: "Venice14";
	font-size: 28pt;
}

h1,h2,h3,h4,h5,h6 {
	font-family: "Chicago12";
	margin: 0;
}

h1 {
	font-size: 48pt;
}

h2 {
	font-size: 36pt;
}



a {
	border: 1px solid black;
	text-decoration: none;
	padding: 8px;
	text-align: center;
	
}
p {
	margin: 0;
}
hr {
	margin-top: 1rem;
}
